

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Inter", sans-serif;
     text-decoration: none;
}
html, body{
     width: 100%;
     height: 100%;
}
:root{
    --primaryColor: black;
    --secondaryColor: white;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: var(--primaryColor);
}
.container > .paraWrapper{
    background: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    border-radius: 10px;
    width: 50vw;
    #para{
        color: var(--primaryColor);
        font-weight: normal;
        font-size: 17px;
    }
}
button#btn{
        outline: none;
        border: 1px solid;
        width: fit-content;
        padding: 10px 8px;
        background: green;
        color: var(--secondaryColor);
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
}
.active{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

@media (width < 680px) {
    .container > .paraWrapper{
        width: 90vw;
    }
}
